#include <dt-bindings/zmk/stp.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/rgb.h>

#define TD_PAIR(name, tap_kc, dance_kc) \
  name: name { \
    compatible = "zmk,behavior-tap-dance"; \
    #binding-cells = <0>; \
    tapping-term-ms = <180>; \
    bindings = <&kp tap_kc>, <&kp dance_kc>; \
  };

/ {
    behaviors {
        #include "macros.dtsi"
        #include "version.dtsi"

        TD_PAIR(td_eq_f1,  EQUAL, F1)
        TD_PAIR(td_1_f2,   N1,    F2)
        TD_PAIR(td_2_f3,   N2,    F3)
        TD_PAIR(td_3_f4,   N3,    F4)
        TD_PAIR(td_4_f5,   N4,    F5)
        TD_PAIR(td_5_f6,   N5,    F6)
        TD_PAIR(td_6_f7,   N6,    F7)
        TD_PAIR(td_7_f8,   N7,    F8)
        TD_PAIR(td_8_f9,   N8,    F9)
        TD_PAIR(td_9_f10,  N9,    F10)
        TD_PAIR(td_0_f11,  N0,    F11)
        TD_PAIR(td_minus_f12, MINUS, F12)

        td_alt: td_alt {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <180>;
            bindings = <&kp LALT>, <&sk LALT>;
        };

        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick_tap_ms = <250>;
            require-prior-idle-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&single_kp_macro>, <&kp>;

            quick-tap-ms = <250>;
        };

        ctrl_shift_mod: ctrl_shift_mod {
            compatible = "zmk,behavior-hold-mods";
            #binding-cells = <0>;
            bindings = <LCTRL LSHFT>;
        };

        ctrl_alt_mod: ctrl_alt_mod {
            compatible = "zmk,behavior-hold-mods";
            #binding-cells = <0>;
            bindings = <LCTRL LALT>;
        };

        hm_cs: hm_cs {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_CS";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick_tap_ms = <250>;
            require-prior-idle-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&ctrl_shift_macro>, <&kp>;

            quick-tap-ms = <250>;
        };

        hm_ca: hm_ca {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_CA";
            #binding-cells = <2>;
            tapping-term-ms = <500>;
            quick_tap_ms = <250>;
            require-prior-idle-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&ctrl_alt_macro>, <&kp>;

            quick-tap-ms = <250>;
        };

        hm_mod: hm_mod {
            compatible = "zmk,behavior-hold-tap";
            label = "HM_MOD";
            #binding-cells = <2>;
            tapping-term-ms = <600>;
            quick_tap_ms = <250>;
            require-prior-idle-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            quick-tap-ms = <250>;
        };
    };

    macros {
        ctrl_shift_macro: ctrl_shift_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &sk LSHFT>;
            label = "ctrl_shift_macro";
        };

        ctrl_alt_macro: ctrl_alt_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &sk LEFT_ALT>;
            label = "CTRL_ALT_MACRO";
        };

        single_kp_macro: single_kp_macro {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "SINGLE_KP_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Base";
            bindings = <
&td_eq_f1  &td_1_f2  &td_2_f3  &td_3_f4  &td_4_f5  &td_5_f6  &tog 1                                                                &mo 3                  &td_6_f7  &td_7_f8  &td_8_f9  &td_9_f10  &td_0_f11  &td_minus_f12
&kp TAB       &kp Q                   &kp W                  &kp E             &kp R                   &kp T      &kp LS(LA(LC(LG(A))))                                                 &kp LS(LA(LC(LG(C))))  &kp Y      &kp U            &kp I                 &kp O             &kp P                       &kp BSLH
&kp ESC       &kp A                   &kp S                  &kp D             &kp F                   &kp G      &kp LS(LA(LC(LG(B))))  &kp LCTRL  &td_alt      &kp LGUI   &kp RCTRL  &kp LS(LA(LC(LG(D))))  &kp H      &kp J            &kp K                 &kp L             &kp SEMICOLON               &kp SQT
&kp LSHFT     &hm_mod LEFT_COMMAND Z  &hm_mod LALT X         &hm_mod LSHIFT C  &hm_mod LEFT_CONTROL V  &kp B                                        &kp HOME      &kp PG_UP                                    &kp N      &hm_mod RCTRL M  &hm_mod RSHIFT COMMA  &hm_mod RALT DOT  &hm_mod RIGHT_COMMAND FSLH  &kp RSHFT
&tog 2        &kp GRAVE               &kp LS(LA(LC(LG(Z))))  &kp LEFT          &kp RIGHT                          &kp BSPC               &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp SPACE                         &kp UP           &kp DOWN              &kp LBKT          &kp RBKT                    &mo 2
            >;
        };

        keypad {
            display-name = "Kp";
            bindings = <
&kp EQUAL  &kp N1     &kp N2    &kp N3    &kp N4     &kp N5  &trans                                                   &mo 3      &kp N6  &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp MINUS
&kp TAB    &kp Q      &kp W     &kp E     &kp R      &kp T   &none                                                    &none      &kp Y   &kp KP_N7   &kp KP_N8     &kp KP_N9      &kp KP_MINUS     &kp BSLH
&kp ESC    &kp A      &kp S     &kp D     &kp F      &kp G   &none     &kp LCTRL  &kp LALT      &kp LGUI   &kp RCTRL  &none      &kp H   &kp KP_N4   &kp KP_N5     &kp KP_N6      &kp KP_PLUS      &kp SQT
&kp LSHFT  &kp Z      &kp X     &kp C     &kp V      &kp B                        &kp HOME      &kp PG_UP                        &kp N   &kp KP_N1   &kp KP_N2     &kp KP_N3      &kp KP_ENTER     &kp RSHFT
&mo 2      &kp GRAVE  &kp CAPS  &kp LEFT  &kp RIGHT          &kp BSPC  &kp DEL    &kp END       &kp PG_DN  &kp ENTER  &kp KP_N0          &kp UP      &kp DOWN      &kp KP_DOT     &kp RBKT         &mo 2
            >;
        };

        fn {
            display-name = "Fn";
            bindings = <
&kp F1  &kp F2  &kp F3  &kp F4  &kp F5  &kp F6  &tog 1                                      &mo 3   &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans  &none                                       &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans  &none   &trans  &trans      &trans  &trans  &none   &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans  &trans                  &trans      &trans                  &trans  &trans  &trans  &trans   &trans   &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans      &trans  &trans  &trans          &trans  &trans  &trans   &trans   &trans
            >;
        };

        mod {
            display-name = "Mod";
            bindings = <
&none           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &none                                                  &trans           &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none         &none         &bootloader                                            &bootloader      &none  &none       &none       &none  &none  &none
&studio_unlock  &none         &none         &none         &none         &none         &none        &none  &none      &bt BT_CLR  &none       &stp STP_BAT     &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &macro_ver    &none                             &none      &none                                    &none  &none       &none       &none  &none  &none
&none           &none         &none         &none         &none                       &none        &none  &none      &none       &bl BL_TOG  &rgb_ug RGB_TOG         &bl BL_INC  &bl BL_DEC  &none  &none  &none
            >;
        };

        extra1 {
            display-name = "Red";
            status = "reserved";
        };

        extra2 {
            display-name = "Purple";
            status = "reserved";
        };

        extra3 {
            display-name = "Cyan";
            status = "reserved";
        };

        extra4 {
            display-name = "Yellow";
            status = "reserved";
        };
    };
};
